html, body, #root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url(img/background.png) no-repeat center center fixed;
  background-size: cover;
}

.display-1 {
  font-size: 4em;
  margin: 4% 0;
}

.display-2 {
  font-size: 3em;
  margin: 2% 0;
}

.lead {
  margin: 0;
}

/* FIRST PAGE */
#home {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.home-left {
  width: 40%;
}

.home-right{
  width: 80%;
  height: 100%;
  text-align: left;
}

.home-description,
.form-postal-code,
.request-form {
  padding: 15% 8% 0 17%;
}

/* POSTAL CODE FORM */
#postalCode,
#selectProfessional {
  margin: 0;
}

#validation-msg {
  height: 25px;
  margin: 0;
  padding: 0;
  text-align: right;
  font-style: italic;
  color: rgb(180, 87, 87);
}

/* PROFESSIONAL */
.professional-form {
  padding: 6% 0;
  width: 60%;
  margin: auto;
}

#professional {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: relative;
}

/* .professional-left {
  width: 60%;
}

.professional-right {
  width: 40%;
} */

.professional-buttons {
  text-align: center;
  margin: 4% 0;
}

.professional-form-success {
  width: 60%;
  margin: auto;
  padding: 8% 0 0 0;
  text-align: center;
}

.professional-form-success form {
  margin-top: 3%;
}

/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #C7EAFC;
}

/* JOB TYPE FORM */
.custom-control {
  margin: 0;
}
.custom-radio {
  margin: 0 0 1% 0;
}

.custom-control-input ~ .custom-control-label::before {
  background-color: rgb(156, 218, 250);
}

.get-started-btn {
  text-align: center;
  margin: 4% 0;
}

.App-link {
  color: #61dafb;
}

.custom-btn {
  width: 120px !important;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 4% 0;
}

/* USER DETAILS FORM */
.last-row {
  margin-bottom: 0;
}

/* PROFESSIONAL SELECTION */
.card-deck {
  width: 100%;
  margin: 0;
}

.col-sm-6 {
  margin: 0;
  padding: 0;
}

.pro-card {
  height: 200px;
  position: relative;
  margin-bottom: 5% !important;
  transition: opacity 100ms linear;
  color: #1A2E40;
}

.card-body {
  position: absolute;
  padding: 0 5% 0 5%;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(215, 235, 255);
}

.card-body:hover {
  background-color: #007BFF;
  color: white;
  transition: background-color 100ms linear, color 100ms linear;
  cursor: pointer;
}

.card-header {
  display: flex;
  height: 50%;
  padding: 2% 0 0 0;
  justify-content: space-between;
  background-color: rgba(215, 235, 255, 0);
  border: none;
}

.title {
  width: 70%;
  margin: 0;
  padding: 5% 0 0 3% ;
}

.checked {
  color: orange;
}

.prof-picture {
  margin: 0;
  padding: 0;
  width: 30%;
  text-align: right;
}

.prof-picture img {
  margin: auto;
  height: 100%;
  border-radius: 50%;
}

.card-text {
  font-size: 0.8em;
}

/* Styling Checkbox */
.checkbox-container {
  padding: 5% 0 0 0 ;
}

.checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  clear: both;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #FFFFFF;
}

.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #FFFFFF;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity:1;
  border: 2px solid #FFFFFF;
}

.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #009BFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity:1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
-webkit-transform: rotate(45deg) scale(1);
-ms-transform: rotate(45deg) scale(1);
transform: rotate(45deg) scale(1);
opacity:1;
left: 8px;
top: 3px;
width: 6px;
height: 12px;
border: solid #009BFF;
border-width: 0 2px 2px 0;
background-color: transparent;
border-radius: 0;
}

/* FIELD VALIDATION */

.invalidInput {
  border: 2px solid rgb(180, 87, 87);
  outline-offset: -10px;
}