body {
  background-color: #E9ECEF;
}

.jumbotronHeader, 
.get-started-btn {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.custom-btn {
  width: 120px !important;
}

.requestForm {
  width: 55%;
  margin: auto;
  text-align: left;
}
.buttons {
  display: flex;
  justify-content: space-between;
}

.professionalSelection {
  width: 85%;
  margin: auto;
  text-align: left;
}

.pro-card {
  height: 200px;
  position: relative;
  margin-bottom: 5% !important;
  transition: opacity 100ms linear;
  color: #1A2E40;
}

.card-body {
  position: absolute;
  padding: 0 5% 0 5%;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(215, 235, 255);
}

.card-body:hover {
  background-color: #007BFF;
  color: white;
  transition: background-color 100ms linear, color 100ms linear;
  cursor: pointer;
}

.card-header {
  display: flex;
  height: 50%;
  padding: 2% 0 0 0;
  justify-content: space-between;
  background-color: rgba(215, 235, 255, 0);
  border: none;
}

.title {
  width: 70%;
  margin: 0;
  padding: 5% 0 0 3% ;
}

.checked {
  color: orange;
}

.prof-picture {
  margin: 0;
  padding: 0;
  width: 30%;
  text-align: right;
}

.prof-picture img {
  margin: auto;
  height: 100%;
  border-radius: 50%;
}

.card-text {
  font-size: 0.8em;
}

/* --- Form05ProSelection --- */
/* Styling Checkbox */
.checkbox-container {
  padding: 5% 0 0 0 ;
}

.checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  clear: both;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #FFFFFF;
}


.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #FFFFFF;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity:1;
  border: 2px solid #FFFFFF;
}


.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #009BFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity:1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
-webkit-transform: rotate(45deg) scale(1);
-ms-transform: rotate(45deg) scale(1);
transform: rotate(45deg) scale(1);
opacity:1;
left: 8px;
top: 3px;
width: 6px;
height: 12px;
border: solid #009BFF;
border-width: 0 2px 2px 0;
background-color: transparent;
border-radius: 0;
}